body {
  background-color: #282c34;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  align-items: stretch;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: stretch;
  text-align: center;
  padding: 1rem;
  min-height: 60vh;
  width: 80vw;
}

.App > div {
  color: #00dcff;
  display: flex;
  flex: 1;
}
}

a {
  color: #00dcff;
}
