body {
  background-color: #282c34;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  align-items: stretch;
  color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: stretch;
  text-align: center;
  padding: 1rem;
  min-height: 60vh;
}

#root {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
}

.App > div {
  display: flex;
  flex: 1;
}

.MuiPaper-root {
  flex: 1;
  text-align: left;
  margin: 2rem;
  max-width: 860px;
  overflow: visible !important;
}

.rating .MuiCardContent-root {
  align-items: center;
  display: flex;
  flex-direction: column;
}

a {
  color: #00dcff;
}
